/* Error: Undefined variable.
 *    ,
 * 85 | $nav-icon-color-secondary: $btn-primary-bg;
 *    |                            ^^^^^^^^^^^^^^^
 *    '
 *   sass/layout/_variable.scss 85:28  @import
 *   sass/layout/ybase.scss 9:9        @import
 *   sass/main.scss 11:9               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 85 \2502  $nav-icon-color-secondary: $btn-primary-bg;\a    \2502                             ^^^^^^^^^^^^^^^\a    \2575 \a   sass/layout/_variable.scss 85:28  @import\a   sass/layout/ybase.scss 9:9        @import\a   sass/main.scss 11:9               root stylesheet";
}
